.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.NavBar {
  display: inline-grid;
}

.nav {
  background-color: lightblue;
  /* position: relative; */
  border: 1px solid blue;
  height: 45px;
  text-align: left;
}

.login-div {
  position: relative;
}
.login-signup-div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.credentials-div {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 24%;
  height: 100%;
}
.homepage-div-container{
  position: relative;
  text-align: left;
  width: 75%;
  height: 100%;
}

.homepage-div-container img{
  /* position: absolute; */
  display: inline-block;

  width: 100%;
  height: 100%;
}
